# Cross-server access to server1
SERVER1_PRIVATE_HOST=server1-private-ip-or-dns

# Frontend / Backend
BACKEND_PORT=8888
FRONTEND_PORT=3000
SPRING_PROFILES_ACTIVE=prod
NEXT_PUBLIC_API_BASE_URL=http://your-server2-host:8888

# PostgreSQL
POSTGRES_DB=airadar
POSTGRES_USER=airadar
POSTGRES_PASSWORD=change-me

# Airflow metadata DB
AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=change-me

# Redis
REDIS_PORT=6379

# AI server
GMS_KEY=
AI_BATCH_SIZE=10

# Airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_EXECUTOR=LocalExecutor
AIRFLOW_LOAD_EXAMPLES=False
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=change-me
